@font-face{
    font-family: SlimJoe;
    src: url("./SlimJoe.otf");
}

@font-face{
    font-family: BebasNeueL;
    src: url("./BebasNeueThin.otf");
}

@font-face{
    font-family: BebasNeueT;
    src: url("./BebasNeueLight.otf");
}